* {
  font-family: "ＭＳ Ｐゴシック", "Osaka", sans-serif;
}

html, body {
  width: 100%;
  margin: 0;
  background: url("img/haikei.gif");
  background-size: 40px;
  display: flex;
}

#nav {
  width: 280px;
  height: 100vh;
  border: inset 5px #ccc;
  box-sizing: border-box;
  position: fixed;
}

main {
  text-align: center;
  margin: 8px 0 8px 280px;
  flex-grow: 1;
}

p {
  margin: 4px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#marquee {
  overflow: hidden;
}

#marquee .text {
  transform: translateX(100%);
  animation: marquee 20s linear infinite;
}

#access-counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

#access-counter-no {
  margin: 0 4px;
}

#place {
  line-height: 1.3;
  color: #f00;
  font-size: 24px;
  font-style: italic;
  word-break: keep-all;
}

@keyframes blink {
  0% {
    color: #f00;
    background: #ff0;
  }
  49% {
    color: #f00;
    background: #ff0;
  }
  50% {
    color: #ff0;
    background: #f00;
  }
  100% {
    color: #ff0;
    background: #f00;
  }
}

#menu-head {
  margin-bottom: 8px;
}

#price {
  margin-bottom: 8px;
}

#price strong {
  font-size: 36px;
  display: inline-block;
  animation: blink 1s infinite;
}

#link-list {
  display: flex;
  gap: 4px;
  justify-content: center;
}

#link-list li {
  list-style: none;
}

.link {
  height: 32px;
  line-height: 32px;
  color: #ff0;
  padding: 0 8px;
  list-style: none;
  border: inset 5px #f6c;
  background: #f0c;
  display: block;
}

.link:hover {
  border: inset 5px #fff;
}

#copyright {
  color: #093;
}

@media screen and (max-width: 900px) {
  #nav {
    display: none;
  }

  main {
    margin-left: 0;
  }
}